main {
    overflow: hidden;
}

img {
    height: 100%;
    /* center image horizontaly */
    display: flex;
    margin-right: auto;
    margin-left: auto;
    /* rotation defaults */
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
}

img:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}